// Colors de les bandes
$colorOne: #244F75;
$colorTwo: #60BFBF;
$colorThree: #8C4B7E;
$colorFour: #F8BB44;
$colorFive: #F24B4B;

$colors: $colorOne, $colorTwo, $colorThree, $colorFour, $colorFive;

@for $i from 1 through 5 {
    .stripe#{$i} {
        background-color: nth($colors, $i);
        //transform: translate3d(nth($translates, $i));
    }
}

// Dona la distancia desde el marge esquerre.
$dOne: 0;
$dTwo: 20vw;
$dThree: 40vw;
$dFour: 60vw;
$dFive: 80vw;

$distance: $dOne, $dTwo, $dThree, $dFour, $dFive;

@for $i from 1 through 5 {
    .strip:nth-child(#{$i}) {
        left : nth($distance, $i);
    }
}